<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <title>Portfolio</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='portfolioicon.ico') }}">
<style type="text/css">
#top, #bottom, #left, #right {
  background: #1ca9c9;
  position: fixed;
  }
  #left, #right {
    top: 0; bottom: 0;
    width: 10px;
    }
    #left { left: 0; }
    #right { right: 0; }
    
  #top, #bottom {
    left: 0; right: 0;
    height: 10px;
    }
    #top { top: 0; }
    #bottom { bottom: 0; }
</style></head>



<body>
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="" style="color: #1ca9c9">01 : Home</a></li>
          <li><a href="./about.html" title="" style="color: #1ca9c9">02 : About me</a></li>
          <li><a href="./skills.html" title="" style="color: #1ca9c9">03 : My skills</a></li>
          <li><a href="./contact.html" title="" style="color: #1ca9c9">04 : Contact</a></li>
        </ul>
      </div> 
    </div>
  </nav>
</header>
<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('./static/assets/images/black.jpg');">
    <div class="max-width">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
           <div class="hero-full-wrapper">
            <div class="text-content">
              <h1 style="color: #1ca9c9">Hello,<br>
                <span id="typed-strings">
                  <span>I'm J Sherin Dorothy<br>Christy</span>
                  <span>Computer Science<br>student</span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>


<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>